html {
    height: 100%;
    background-color: black;
    background-image: url(https://www.xtrafondos.com/wallpapers/stitch-leyendo-el-patito-feo-2888.jpg);
    Background-Repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

body {
    border-left: 1px solid royalblue;
    color: white;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.hero-head {
    height: 55px;
    width: 100%;
    opacity: 0.5;
    background-color: #29ffffab;
    backdrop-filter: blur(0px);
    margin-bottom: 50px;
}

.titulo {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1 !important;
    text-align: center;
}

.titulo h1 {
    font-size: 3em;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold !important;
    color: white;
    font-weight: 600;
    line-height: 1.125;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero-body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    padding-bottom: 100px;
    color: white;
}

.marca {
    border: royalblue 1px solid;
    backdrop-filter: blur(5px);
    filter: grayscale(60%);
    width: 100%;
    height: auto;
    border-radius: 6px;
    line-height: 25px;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    html {
        background-size: 200% 100%;
    }
    .hero-body {
        height: 100%;
        padding-bottom: 50px !important;
    }
}